.main{
  margin-top: 5vh;
  padding: 8px;
}
.message{
  text-align: center;
  font-size: 32px;
}
.rules{
  color: white;
  margin-top: 20px;
}
.rules span{
  font-size: 1.3em;
  font-weight: bold;
}
.rules li{
  margin-left: 15px;
  padding: 5px;
}
