<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/master.css">
    <title>БГАЭК Game</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/static/js/master.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="main">
      {% block content %}{% endblock %}
    </div>
    <div style="height:100px;color: transparent;"><br><br><br><br>&nspb</div> <!-- FIXME: GAVNO -->

    <div id="menu" class="menu" style="transform: translateY(66px);">
      <div class="line">
        <div class="items">
          <a href="/profile"><span class="material-icons md-36">home</span></a>
          Главная
        </div>
        <div class="items">
        <a href="/tops"><span class="material-icons md-36">star_rate</span></a>
        Рейтинг
        </div>
        <div class="items">
          <a href="/promo"><span class="material-icons md-36">vpn_key</span></a>
          Промокод
        </div>
        <div onclick="slideMenu()" id="more" class="items">
          <span class="material-icons md-36">menu</span>
          Ещё
        </div>
      </div>
      <div class="line">
        <div class="items">
          <a href="/rules"><span class="material-icons md-36">rule</span></a>
          Правила
        </div>
        <div class="items">
          <a href="/shop"><span class="material-icons md-36">shopping_cart</span></a>
          Магазин
        </div>
        <div class="items">
          <a href="/task"><span class="material-icons md-36">task</span></a>
          Задания
        </div>
        <div class="items">
          <a href="/news"><span class="material-icons md-36">newspaper</span></a>
          Новости
        </div>
      </div>
    </div>
  </body>
</html>
