<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<h1>Таблица лидеров</h1>
<table>
  <thead>
    <th>id</th>
    <th>Код</th>
    <th>Монеты</th>
    <th>Очки</th>
    <th>Описание</th>

  </thead>
  {% for data in inform %}
    <tr>
      <td>{{ data['id'] }}</td>

      <td>{{ data['promo'] }}</td>
      <td>{{ data['score'] }}</td>
      <td>{{ data['money'] }}</td>
      <td>{{ data['description'] }}</td>
      <td>{{ data['user_id'] }}</td>

    </tr>
  {% endfor %}
</table>
</body>
</html>
