{% extends "master.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/rules.css">
<div class="message">Правила</div>
<div class="rules">
  <span>Запрещается:</span>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis!</li>
  <span>Разрешается:</span>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis!</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, blanditiis!</li>
</div>
{% endblock %}
