{% extends "master.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/shop.css">
<h1>Магазин</h1>
<div class="money">Балланс: &nbsp<span class="material-icons">monetization_on</span>{{ user.money }}</div>
<table>
  {% if by %}
    {% if confirm %}
      <tr>
        <td colspan="3" class="titleShop">Купленно</td>
      </tr>
    {% else %}
      <tr>
        <td colspan="3" class="titleShop">Мало деняг</td>
      </tr>
    {% endif %}
  {% endif %}
  {% for i in inform %}
  <tr>
    <td>{{ i.name }}</td>
    <td><span class="material-icons">monetization_on</span>{{ i.cost }}</td>
    <td rowspan="2"><a href="/shop/{{ i.id }}">Купить</a></td>
  </tr>
  <tr>
    <td colspan="2">{{ i.description }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
