<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/master.css">
    <link rel="stylesheet" href="/static/css/welcome.css">
    <title>БГАЭК Game</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="main">
      <div class="hello1">Приветствуем незнакомец</div>
      <div class="hello2">
        Предлагаю тебе погрузится в нашу игру тебе предстоит выполнять
        ежедневные задания, а так-же посоревноваться в разоблачении
        наибольшего колличества секретов
      </div>
      <div class="loginBTN">
        <span onclick="window.location.href = '{{ enter_url }}'">Войти через Вконтакте</span>
      </div>
    </div>
  </body>
</html>
